/* Style the profile container */
.profile-container {
  display: flex;
  height: calc(
    100vh - 66px
  ); /* Adjusted height considering the header height */
  margin-top: 66px; /* Margin top of 66px */
}

/* Style the sidebar */
.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Style sidebar buttons */
.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the content area */
.content {
  flex: 1;
  padding: 20px;
}

/* Style the active profile section */
.profile-section.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Input styles */
.profile-section.active input {
  width: calc(100% - 20px); /* Adjusted width with margin */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #000; /* Black border for input fields */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    box-shadow: none;
    text-align: center;
  }

  .content {
    padding: 20px;
  }
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  height: 500px;
  margin: 0px 10px;
}

.card-header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.card-holder {
  display: flex;
}

@media (max-width: 800px) {
  .card-holder {
    flex-direction: column;
  }

  .card {
    margin-top: 15px;
    margin: auto;
    margin-bottom: 15px;
  }
}

.card-body {
  padding: 20px;
  text-align: center;
  display: inline;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin: auto;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-label {
  font-weight: bold;
}

.contact-value {
  margin-top: 5px;
}

.subject-info {
  margin-bottom: 10px;
  padding: 10px;
}

.subject-label {
  font-weight: bold;
}

.bar-container {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.bar {
  height: 10px;
  background-color: #0b46e9;
  transition: width 0.5s ease;
}

.test-link {
  color: blue;
  cursor: pointer;
}

.profile-section {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.profile-section.active {
  display: block;
}

.reset-password-form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 50%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #267bb5;
}
